.body
  = render "devise/shared/header-login"
  .container
    .login-panel
      .register
        %p.no-account アカウントをお持ちでない方はこちら
        %button.signup-btn 新規会員登録 
      .social-login
        %button.facebook
          %svg.svg-inline--fa.fa-facebook-square.fa-w-14{"aria-hidden" => "true", "data-icon" => "facebook-square", "data-prefix" => "fab", focusable: "false", role: "img", viewbox: "0 0 448 512", xmlns: "http://www.w3.org/2000/svg", class: "facebook-logo"}
            %path{d: "M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z", fill: "currentColor"}
            %p.fb-login Facebookでログイン
        %button.google
          %svg.svg-inline--fa.fa-google.fa-w-16{"aria-hidden" => "true", "data-icon" => "google", "data-prefix" => "fab", focusable: "false", role: "img", viewbox: "0 0 488 512", xmlns: "http://www.w3.org/2000/svg", class: "google-logo"}
            %path{d: "M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z", fill: "currentColor"}
            %p.ggl-login Googleでログイン
      .login-form 
        = form_with model: @user, url: user_session_path, id: 'new_user', class: 'form', local: true do |f|
          = f.text_field :email, placeholder: "メールアドレス", class: "email-address", value: ""
          = f.text_field :password, placeholder: "パスワード", type: "password", class: "email-address", value: ""
        
          %button.recaptcha
            .left-side
              %input.robot-check{name: "robot", type: "checkbox"}
              %h2.im-not-a-robot 私はロボットではありません
            .right-side
              %svg.svg-inline--fa.fa-robot.fa-w-20{"aria-hidden" => "true", "data-icon" => "robot", "data-prefix" => "fas", focusable: "false", role: "img", viewbox: "0 0 640 512", xmlns: "http://www.w3.org/2000/svg", class: "robot-logo"}
                %path{d: "M0 256v128c0 17.7 14.3 32 32 32h32V224H32c-17.7 0-32 14.3-32 32zM464 96H352V32c0-17.7-14.3-32-32-32s-32 14.3-32 32v64H176c-44.2 0-80 35.8-80 80v272c0 35.3 28.7 64 64 64h320c35.3 0 64-28.7 64-64V176c0-44.2-35.8-80-80-80zM256 416h-64v-32h64v32zm-32-120c-22.1 0-40-17.9-40-40s17.9-40 40-40 40 17.9 40 40-17.9 40-40 40zm128 120h-64v-32h64v32zm96 0h-64v-32h64v32zm-32-120c-22.1 0-40-17.9-40-40s17.9-40 40-40 40 17.9 40 40-17.9 40-40 40zm192-72h-32v192h32c17.7 0 32-14.3 32-32V256c0-17.7-14.3-32-32-32z", fill: "currentColor"}
                %p.logo-name reCAPTCHA
                %ul.links
                  %li
                    = link_to "プライバシー", "https://policies.google.com/privacy?hl=ja", class: "link"
                  %h3 -
                  %li
                    = link_to "利用規約", "https://policies.google.com/terms?hl=ja", class: "link"
          = f.submit "ログイン", class:"submit", value: ""
          .forgot-password
            = link_to "パスワードをお忘れの方", new_user_password_path, class: "resetting"
  = render "devise/shared/footer-login"