.wrapper

  = render "layouts/header"

  .bodyMypage.clearfix
    .main
      .user
        .thumbnail
          = link_to ""
          .icon
            =image_tag "/ramen.jpg"
          %h2 SRB
          .records
            %div
              評価
              %span 0
            %div
              出品数
              %span 0

      .info
        %ul.info__tabs
          %li
            %h3
              お知らせ
          %li
            %h3
              やることリスト
        .message
          %ul.messages
            %li
              = link_to "", class: "link" do
                .figure
                  = image_tag "/logo_red.svg", class: "box"
                .form
                  .form__text
                    <お買い物応援!> ¥1,000の商品を実質1円でご購入いただけます！
                  .form__time
                    %i.fa.fa-clock-o 3日前
                .chevron
                  %i.fa.fa-chevron-right
            %li
              = link_to "", class: "link" do
                .figure
                  = image_tag "/logo_red.svg", class: "box"
                .form
                  .form__text
                    明日、P999還元クーポンの有効期限が切れます！タップして詳細を確認しましょう。
                  .form__time
                    %i.fa.fa-clock-o 5日前
                .chevron
                  %i.fa.fa-chevron-right
            .all
              = link_to "一覧を見る", "", class: "detail"

      .product
        .product__header
          %h2 購入した商品
        %ul.product__tabs
          %li
            %h3
              取引中
          %li
            %h3
              過去の取引
        .product__messages
          %ul.trades
            %li
              取引中の商品がありません

    = render "layouts/side-barMypage"

  = render "layouts/footer"