- if @product.errors.any?
  #error_explanation
    %h2
      = @product.errors.count
      件のエラーがあります。
    %ul
      - @product.errors.full_messages.each do |msg|
        %li= msg
= render "layouts/header"
.main-product
  .sequel
    .item
      .item__name
        %span= @product.name
      - if @product.status == 2
        出品停止中
      .item__content
        .content-photo
          .content-photo__top
            = image_tag @product.image_url class: "main-image"
          .content-photo__detail
            .content-photo-box
              = image_tag @product.image_url class: "image1"
            .content-photo-box
              = image_tag @product.image_url class: "image2"
            .content-photo-box
              = image_tag @product.image_url class: "image3"
        .content-table
          .table
            .tr
              .th
                .th__name 出品者
              .td
                = link_to @product.user.nickname, root_path
                .user-evaluation
                  .item-user-ratings
            .tr
              .th
                .th__name カテゴリー
              .td
                %li
                  =link_to @product.category, root_path
                %li
                  =link_to "> バッグ", root_path, class: "item-detail-table-sub-category"
                %li
                  =link_to "> ブランド袋", root_path, class: "item-detail-table-sub-category"
            .tr
              .th
                .th__name ブランド
              .td
                =link_to "クリスチャン ルブタン", root_path
            .tr
              .th
                .th__name 商品の状態
              .td= @product.condition
            .tr
              .th
                .th__name 配送料の負担
              .td= @product.shipping_charge
            .tr
              .th
                .th__name 配送の方法
              .td= @product.shipping_how
            .tr
              .th
                .th__name 配送元地域
              .td= @product.shipping_place
            .tr
              .th
                .th__name 発送日の目安
              .td= @product.shipping_date
      .item__price
        .price-box
          ¥
          %span= @product.price
        .price-tax
          .price-tax__content (税込)
        .price-fee
          .price-fee__content 送料込み
      %p.allowed-message
      .item__description
        %span= @product.text
    - if user_signed_in? && current_user.id == @product.user_id
      .product-rails
        = link_to edit_product_path, class: "btn-default edit-btn" do
          商品の編集
        %p.text-align-center or
        - if @product.status == 1
          = form_with model: @product, local: true, class: "just-wait" do |f|
            = f.text_field :status, type: "hidden", value: 2
            = f.submit "出品の一旦停止", class: "btn-default stop"
        - elsif @product.status == 2
          = form_with model: @product, local: true, class: "just-wait" do |f|
            = f.text_field :status, type: "hidden", value: 1
            = f.submit "出品を再開する", class: "btn-default restart"
        = link_to product_path, class: "btn-default delete-item", method: :delete do
          商品を削除する
    .message
      .message__contents
        .message-items
      .message__contents
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.message-textarea{name: "body", type: "text", value: ""}
        %button.message-submit{type: "submit"}
          %span コメントする
= render "layouts/footer"