= render 'layouts/header'
%body
  .mine-content
    .mine-content__bar
      = render 'layouts/side-barMypage'
      .mine-product
        .mine-product__list
          %h2.mine-product__head 出品した商品
          %ul.tabs
            %li.tab-list
              = link_to myproduct_product_path, class: "product now" do
                出品中
            %li.tab-list
              = link_to myproduct_product_path, class: "product dealing" do
                取引中
            %li.tab-list
              = link_to myproduct_product_path, class: "product soldout" do
                売却済み
          .tab-content
            %ul.mine-item-list
              - @products.each do |product|
                %li.product
                  = link_to my_product_detail_product_path(product.id), class: "mine-item" do
                    %figure.photo
                      = image_tag product.image_url if product.image.present?
                    .mine-item-summary
                      .mine-item-summary__text
                        %span= product.name
                      .mine-item-summary__accesory
                        %span.liking-count
                          %i.far.fa-heart
                          %span.many
                            352
                        %span.liking-count
                          %i.far.fa-comment
                          %span.many
                            1
                        .product-mode
                          出品中
                      %i.fas.fa-arrow-circle-right
        %ul.mypage-kaminari
          %li.more.more-left
            = link_to myproduct_product_path, class: "read-more" do
              %i.fas.fa-arrow-circle-left
          %li.more.more-right
            = link_to myproduct_product_path, class: "read-more" do
              %i.fas.fa-arrow-circle-right
= render 'layouts/footer'
= render 'devise/shared/red-btn'