= render 'layouts/header'
.main
  .slide
    .slideB
      = image_tag "slide1.png", class: "slide-image"
    .slideB
      = image_tag "slide_5.png", class: "slide-image"
    .slideB
      = image_tag "slide-a.png", class: "slide-image"
  .main-body
    .main-contents
      .main-contents__top
        .main-contents__header--name
          = "「"+params[:keyword]+"」"+" の検索結果"
      .main-contents__goods
        %ul
          - @products.each do |product|
            %li
              .main-contents-box
                =link_to product_path(product.id), class: "contents-item" do
                  .contents-item__image
                    .contents-item__image--price
                      ¥
                      %span= product.price
                    = image_tag product.image_url if product.image.present?
                  .contents-item__index
                    .contents-item__index--name
                      %span= product.name

= render 'layouts/footer'
= render 'devise/shared/red-btn'