.sidebar-body
  .side-bar-box
    %ul.sidebar-list-1
      %li.side-bar-links
        .text
          = link_to 'マイページ', mypage_user_page_path, class: "side-link-text"
        .icon
          =fa_icon'chevron-right'
      %li.side-bar-links
        お知らせ
        .icon
          =fa_icon'chevron-right'
      %li.side-bar-links
        やることリスト
        .icon
          =fa_icon'chevron-right'
      %li.side-bar-links
        いいね！一覧
        .icon
          =fa_icon'chevron-right'
      %li.side-bar-links
        出品する
        .icon
          =fa_icon'chevron-right'
      %li.side-bar-links
        出品した商品-出品中
        .icon
          =fa_icon'chevron-right'
      %li.side-bar-links
        出品した商品-取引中
        .icon
          =fa_icon'chevron-right'
      %li.side-bar-links
        出品した商品-売却済
        .icon
          =fa_icon'chevron-right'
      %li.side-bar-links
        購入した商品-取引中
        .icon
          =fa_icon'chevron-right'
      %li.side-bar-links
        購入した商品-過去の取引
        .icon
          =fa_icon'chevron-right'
      %li.side-bar-links
        ニュース一覧
        .icon
          =fa_icon'chevron-right'
      %li.side-bar-links
        評価一覧
        .icon
          =fa_icon'chevron-right'
      %li.side-bar-links
        ガイド
        .icon
          =fa_icon'chevron-right'
      %li.side-bar-links
        お問い合わせ
        .icon
          =fa_icon'chevron-right'
    %h3
      メルペイ
    %ul.sidebar-list-1
      %li.side-bar-links
        = link_to '売上・振込申請', mypage_profile_path, class: "side-link-text"
        .icon
          =fa_icon'chevron-right'
      %li.side-bar-links
        = link_to 'ポイント', mypage_profile_path, class: "side-link-text"
        .icon
          =fa_icon'chevron-right'
    %h3
      設定
    %ul.sidebar-list-1
      %li.side-bar-links
        = link_to 'プロフィール', mypage_profile_path, class: "side-link-text"
        .icon
          =fa_icon'chevron-right'
      %li.side-bar-links
        = link_to '発送元・お届け先住所変更', mypage_user_info_register_path, class: "side-link-text"
        .icon
          =fa_icon'chevron-right'
      %li.side-bar-links
        支払い方法
        .icon
          =fa_icon'chevron-right'
      %li.side-bar-links
        = link_to 'メール/パスワード', mypage_user_info_register_path, class: "side-link-text"
        .icon
          =fa_icon'chevron-right'
      %li.side-bar-links
        = link_to '本人情報', mypage_user_info_register_path, class: "side-link-text"
        .icon
          =fa_icon'chevron-right'
      %li.side-bar-links
        = link_to '電話番号の確認', mypage_user_info_register_path, class: "side-link-text"
        .icon
          =fa_icon'chevron-right'
      %li.side-bar-links
        = link_to 'ログアウト', mypage_user_info_register_path, class: "side-link-text"
        .icon
          =fa_icon'chevron-right'