!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample63a
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.top-content
      .top-main
        .top-main-face
          .top-main-face__logo
            %a.mercaribox{href: ""}
              = image_tag "/logo_red.svg", alt: ""
          
          %form.searchbox{action: ""}
            %input.texts{type: "search", name: "keyword", placeholder: "Do you look for anything?", value: ""}
            %button.glass
              .glass-icon{"aria-hidden":"true", height: "16", viewbox: "0 0 16 16", width: "16"}
                %i.fas.fa-search


        .top-main-leg
          .top-main-leg__left
            .top-main-leg-category
              %a.category
                %svg.shelf{"aria-hidden":"true", height: "16", width: "20", viewbox: "0 0 23 16"}
                  %path{d: "M18.799 15.25h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zM2 16a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4z", fill: "currentColor", "fill-rule":"nonzero"}
                  -# %i.fas.fa-bars
                カテゴリーから探す
              .open-category
              
            .top-main-leg-brand
              %a.brand
                %svg.tag{"aria-hidden":"true", height: "16", width: "20", viewbox: "0 0 23 16"}
                  %path{d: "M6.315 0L4.473 1.806 2.833.019.73 1.977l1.69 1.84L1.198 5.02c-1.594 1.594-1.594 4.188-.01 5.772L6.3 16h13.272a3.08 3.08 0 0 0 3.077-3.077V3.076A3.08 3.08 0 0 0 19.57 0H6.315zm13.46 12.925a.211.211 0 0 1-.205.205H7.504L3.227 8.771a1.226 1.226 0 0 1-.01-1.71L4.38 5.92l1.28 1.371a2.68 2.68 0 1 0 2.13-1.93L6.433 3.907 7.49 2.87h12.082a.211.211 0 0 1 .206.205v9.848h-.002z", fill: "currentColor", "fill-rule":"nonzero"}
                  -# %i.fab.fa-cc-amex
                ブランドから探す
              .open-brand
        
          .top-main-leg__right
            %ul.user-nav
              %li
                = link_to "新規会員登録", "https://www.mercari.com/jp/signup/", class: "new-acount"
              %li
                = link_to "ログイン", "https://www.mercari.com/jp/login/?login_callback=https%3A%2F%2Fwww.mercari.com%2Fjp%2Ffeatured%2Fcamp%2F", class: "login-acount"
    = yield