.z
  =render'devise/shared/header-login'
  .main
    .main-box
      
      .main-box-block
      
        .main-top-text
          新規会員登録
        .main-bottom
          .main-bottom-box
            %ul.main-bottom-box__textBox-mail
              = link_to'' , class:'link-mail' do
                =fa_icon 'envelope'
                %li.text
                  メールアドレスで登録する
            %ul.main-bottom-box__textBox-facebook
              = link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class:'link-fb' do
                =fa_icon 'facebook-square'
                %li.text
                  Facebookで登録する
            %ul.main-bottom-box__textBox-google
              = link_to 'https://accounts.google.com/signin/oauth/oauthchooseaccount?client_id=238694260676-l0gp5j3hs9p8l2hjmnt126q0b4iin34r.apps.googleusercontent.com&as=Mr9DXJJzs11fRn6hRPYKfw&destination=https%3A%2F%2Fwww.mercari.com&approval_state=!ChRoWFYzOV9XREVvQjdFcWVZalVRShIfdzJHdUNLempXa2tXNEJxcmlYbTVkb215elVQYTZCWQ∙AJDr988AAAAAXdfBLeeD0Ov3cOYX5KKhVGbpOzlqi-Ur&oauthgdpr=1&xsrfsig=ChkAeAh8Ty3MVHPBR5fkd_oGnTc6fCpH9QspEg5hcHByb3ZhbF9zdGF0ZRILZGVzdGluYXRpb24SBXNvYWN1Eg9vYXV0aHJpc2t5c2NvcGU&flowName=GeneralOAuthFlow' do
                =fa_icon 'google'
                %li.text
                  Googleで登録する
          = form_for @user, url: signup2_signup_index_path, method: :get do |f|
            .main-bottom-box
              %ul.main-bottom-box__textBox-mail
                = link_to '' , class:'link-mail' do
                  =fa_icon 'envelope'
                  %li.text
                    メールアドレスで登録する
              %ul.main-bottom-box__textBox-facebook
                = link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class:'link-fb' do
                  =fa_icon 'facebook-square'
                  %li.text
                    Facebookで登録する
              %ul.main-bottom-box__textBox-google
                = link_to 'https://accounts.google.com/signin/oauth/oauthchooseaccount?client_id=238694260676-l0gp5j3hs9p8l2hjmnt126q0b4iin34r.apps.googleusercontent.com&as=Mr9DXJJzs11fRn6hRPYKfw&destination=https%3A%2F%2Fwww.mercari.com&approval_state=!ChRoWFYzOV9XREVvQjdFcWVZalVRShIfdzJHdUNLempXa2tXNEJxcmlYbTVkb215elVQYTZCWQ∙AJDr988AAAAAXdfBLeeD0Ov3cOYX5KKhVGbpOzlqi-Ur&oauthgdpr=1&xsrfsig=ChkAeAh8Ty3MVHPBR5fkd_oGnTc6fCpH9QspEg5hcHByb3ZhbF9zdGF0ZRILZGVzdGluYXRpb24SBXNvYWN1Eg9vYXV0aHJpc2t5c2NvcGU&flowName=GeneralOAuthFlow' do
                  =fa_icon 'google'
                  %li.text
                    Googleで登録する
  =render'devise/shared/footer-login'